[core]
  editor = nvim

[user]
  name = brett
  email = 20871604+brettinternet@users.noreply.github.com

[pull]
  rebase = true

[alias]
	graph = log --graph --all --format='%h %s%n        (%an, %ar)%d' --abbrev-commit
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
